.password_submit_button {
    margin-top: 20px;
    margin-left: 12px;
    margin-right: 12px;
}

.password_send_button {
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    text-align: center;
}

