.stg_cell {
  display: flex;
  background: #fff;
  width: 100%;
  height: 100px;
}

.stg_image {
  margin-left: 12px;
  margin-right: 6px;
  margin-top: 10px;
  width: 70px;
  height: 80px;
  background-color: #eeeeee;
}

.stg_name {
  margin-top: 6px;
  margin-left: 6px;
  font-size: 15px;
}

.stg_score {
  margin-left: 6px;
  color: orange;
  font-size: 13px;
}

.stg_desc {
  margin-top: 3px;
  margin-left: 6px;
  font-size: 12px;
  max-width: 210px;   
  white-space:nowrap; 
  text-overflow:ellipsis;   
  overflow:hidden; 
  height: 20px;
  color: #707070;
}

.stg_distance {
  float: right;
  font-size: 12px;
  color: #707070;
  margin-top: 75px;
  margin-right: 12px;
}

.stg_separator {
  margin-left: 12px;
  width: 100%;
  height: 1px;
  background: #e9e9e9;
}