.wallet_log_cell {
    margin-left: 12px;
    display:flex;
    align-items: left;
    flex-direction:column;
    background: #fff;
    width: 100%;
    border-bottom: 1px solid #eeeeee;
    height: 126px;
  }
  
.wallet_log_organ {
    font-size: 18px;
    height: 24px;
    line-height: 24px;
}
  
.wallet_log_desc {
    color: black;
    /* height: 28px; */
    line-height: 28px;
    font-size: 16px;
}
  
.wallet_log_desc_text {
    color: orange;
    height: 28px;
    line-height: 28px;
    font-size: 16px;
}