.header_view {
    display: block;
    width: 100%;
    height:180px;
  }
  
  .header_background {
    width:100%;
    height:180px;
    z-index:0;
  }
  
  .header_content {
    position: absolute;
    display:flex;
    flex-direction:column;
    align-items:center;
    top: 0;
    left: 0;
    width: 100%;
    height: 180px;
    z-index:1;
  }
  
  .header_line {
    width: 100%;
    height: 4px;
    background: #d4237a;
  }
  
  .mine_img {
     margin-top: 20px; 
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-color: white;
    border-width: 2px;
  }
  
  .mine_name {
    font-size: 14px;
    color: white;
  }
  
  .mine_class {
    display: flex;
    align-items:center;
    margin-top: 10px;
    height: 20px;
  }
  
  .mine_class_icon {
    width: 16px;
    height: 16px;
  }
  
  .mine_class_text {
    font-size: 14px;
    color: #987C4D;
  }
  
  .mine_detail_view {
    margin-top: 10px;
    display: flex;
    width: 100%;
    height: 40px;
    color: white;
    font-size: 12px;
  }
  
  .mine_money_view {
    display: flex;
    flex-direction:column;
    align-items:center;
    width: 33%;
    height: 40px;
  }
  
  .mine_detail_line {
    background: #515151;
    width: 1px;
    height: 36px;
  }